TechSupportWebClient/Connected Services/IncidentsServiceReference/TechSupportService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:56426/TechSupportService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TechSupportWcfService" />
  <xs:import schemaLocation="http://localhost:56426/TechSupportService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:element name="GetTechIncidents">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TechID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTechIncidentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TechSupportWcfService" minOccurs="0" name="GetTechIncidentsResult" nillable="true" type="q1:ArrayOfIncidents" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerIncidents">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CustomerID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerIncidentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TechSupportWcfService" minOccurs="0" name="GetCustomerIncidentsResult" nillable="true" type="q2:ArrayOfIncidents" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIDs">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idType" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIDsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="GetIDsResult" nillable="true" type="q3:ArrayOfNullableOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>