TechSupportWebClient/Connected Services/IncidentsServiceReference/TechSupportService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TechSupportService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:56426/TechSupportService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:56426/TechSupportService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:56426/TechSupportService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TechSupportWcfService" />
      <xsd:import schemaLocation="http://localhost:56426/TechSupportService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IIncidentsService_GetTechIncidents_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTechIncidents" />
  </wsdl:message>
  <wsdl:message name="IIncidentsService_GetTechIncidents_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTechIncidentsResponse" />
  </wsdl:message>
  <wsdl:message name="IIncidentsService_GetCustomerIncidents_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerIncidents" />
  </wsdl:message>
  <wsdl:message name="IIncidentsService_GetCustomerIncidents_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerIncidentsResponse" />
  </wsdl:message>
  <wsdl:message name="IIncidentsService_GetIDs_InputMessage">
    <wsdl:part name="parameters" element="tns:GetIDs" />
  </wsdl:message>
  <wsdl:message name="IIncidentsService_GetIDs_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetIDsResponse" />
  </wsdl:message>
  <wsdl:portType name="IIncidentsService">
    <wsdl:operation name="GetTechIncidents">
      <wsdl:input wsaw:Action="http://tempuri.org/IIncidentsService/GetTechIncidents" message="tns:IIncidentsService_GetTechIncidents_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIncidentsService/GetTechIncidentsResponse" message="tns:IIncidentsService_GetTechIncidents_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomerIncidents">
      <wsdl:input wsaw:Action="http://tempuri.org/IIncidentsService/GetCustomerIncidents" message="tns:IIncidentsService_GetCustomerIncidents_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIncidentsService/GetCustomerIncidentsResponse" message="tns:IIncidentsService_GetCustomerIncidents_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetIDs">
      <wsdl:input wsaw:Action="http://tempuri.org/IIncidentsService/GetIDs" message="tns:IIncidentsService_GetIDs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIncidentsService/GetIDsResponse" message="tns:IIncidentsService_GetIDs_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IIncidentsService" type="tns:IIncidentsService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTechIncidents">
      <soap:operation soapAction="http://tempuri.org/IIncidentsService/GetTechIncidents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomerIncidents">
      <soap:operation soapAction="http://tempuri.org/IIncidentsService/GetCustomerIncidents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIDs">
      <soap:operation soapAction="http://tempuri.org/IIncidentsService/GetIDs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TechSupportService">
    <wsdl:port name="BasicHttpBinding_IIncidentsService" binding="tns:BasicHttpBinding_IIncidentsService">
      <soap:address location="http://localhost:56426/TechSupportService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>