TechSupportWebClient/Connected Services/IncidentsServiceReference/TechSupportService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TechSupportWcfService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TechSupportWcfService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfIncidents">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Incidents" nillable="true" type="tns:Incidents" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfIncidents" nillable="true" type="tns:ArrayOfIncidents" />
  <xs:complexType name="Incidents">
    <xs:sequence>
      <xs:element minOccurs="0" name="CustomerID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="DateClosed" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateOpened" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IncidentID" type="xs:int" />
      <xs:element minOccurs="0" name="ProductCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TechID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Incidents" nillable="true" type="tns:Incidents" />
</xs:schema>